<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" href="{{ asset('icon.png') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
  {% endblock %}
</head>
<body>
<noscript>
  <style>
    .pagecontainer {
      display: none;
    }

    {#TODO[Fortel] dodac te style do scss (tak jak browserupgrade)#}
    .no-javascript {
      display: block;
      max-width: 960px;
      padding: 1rem;
      margin: 3.125rem auto;
      font-size: 1.25rem;
      color: #000;
      text-align: center;
      background: #eee;
    }
  </style>
  <div class="no-javascript">
    JavaScript must be enabled in order for you to use this page. However, it seems JavaScript is either
    disabled or not supported by your browser. To view the page, enable JavaScript by changing your browser options (or
    browser), then try again.
  </div>
</noscript>
<!--[if lte IE 9]>
<div class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</div>
<![endif]-->

<div class="pagecontainer container">
  {% block body %}<p class="text-center">Hello!</p>{% endblock %}
</div>

{% block javascripts %}
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <!-- jQuery local fallback -->
  <script>window.jQuery || document.write('<script src="{{ asset('js/vendor/jquery.slim.min.js') }}"><\/script>')</script>
  <!-- Popper CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <!-- Pooper local fallback -->
  <script>if (typeof(Popper) === 'undefined') {document.write('<script src="{{ asset('js/vendor/popper.min.js') }}"><\/script>')}</script>
  <!-- Bootstrap JS CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
  <!-- Bootstrap JS local fallback -->
  <script>if (typeof($.fn.modal) === 'undefined') {document.write('<script src="{{ asset('js/vendor/bootstrap.min.js') }}"><\/script>')}</script>
  <!-- Bootstrap CSS local fallback -->
  <div id="bootstrap-css-test" class="d-none"></div>
  <script>
  $(function() {
    if ($('#bootstrap-css-test').is(':visible')) {
      $("head").prepend('<link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}">');
    }
  });
  </script>
  <!-- Fontawesome local fallback -->
  <script>
  $(function() {
    var $span = $('<span class="fa" style="display:none">`</span>').appendTo('#bootstrap-css-test');
    if ($span.css('fontFamily') !== '"Font Awesome 5 Free"') {
      $('head').append('<link href="{{ asset('css/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">');
      console.log($span.css('font-family'));
    }
    $span.remove();
  });
  </script>
  <script src="{{ asset('js/main.min.js') }}"></script>
{% endblock %}
</body>
</html>
